/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
.rspec_status
.constable/
!.constable/config.yml
Gemfile.lock
.DS_Store
/test/dummy/log/*
/test/dummy/tmp/*
/test/dummy/db/*.sqlite3
